/* accounts.css */
.acc-container {
    min-height: 100vh;
    margin-top: 72px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
.acc-content {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
    border-radius: 15px; 
    padding: 2rem;
    margin: 2rem;
    color: white;
    max-width: 600px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.acc-content:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}
#wallet-address {
    margin: 20px 0;
    font-size: 1.1em;
}

#loading {
    margin: 10px 0;
    font-size: 1em;
    color: #fff;
}

/*  Responsive Design */
@media screen and (max-width: 768px) {
    .acc-container {
        margin-top: 64px;
        min-height: 80vh;
    }
    .acc-content {
        padding: 1rem;
        margin: 1rem;
    }
}
