RewriteEngine On
RewriteBase /make-market/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^process/get-public-key/([0-9]+)$ process/get-public-key.php?id=$1 [L,NC]
RewriteRule ^process/get-tx/([0-9]+)$ process/get-tx.php?id=$1 [L,NC]
RewriteRule ^process/([0-9]+)$ process/process.php?id=$1 [L,NC]
