/* ============================================================================
 * File: contact/contact.css
 * Description: Styles specific to the Contact page of Vina Network.
 * Created by: Vina Network
 * ========================================================================== */

 /* Contact */
.contact {
    margin-top: 72px;
    text-align: center;
}

.contact-content {
     margin: 20px;
     padding: 20px;
}

.contact-content h1 {color: #4a90e2;}

.contact-table {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contact-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.contact-item i {
    font-size: 2em;
    color: #ff6f91;
    margin-bottom: 15px;
}

.contact-item h2 {color: #4a90e2;}
.contact-item p {color: #666;}
.contact-item a {
    color: #ff6f91;
    transition: color 0.3s;
}
.contact-item a:hover {color: #ff85a1;}

/*  Responsive Design */
@media screen and (max-width: 768px) {
    .contact {margin-top: 64px;}
    .contact-item { width: 100%;}
}
