/* ============================================================================
 * File: tools/nft-info/nft-info.css
 * Description: Styling for NFT Info
 * Created by: Vina Network
 * ========================================================================== */

/* NFT Info Result */
.nft-image {
    flex: 1;
    min-width: 200px;
}
.nft-image img {
    max-width: 100%;
    border-radius: 8px;
}
.nft-info-table {
    flex: 2;
    min-width: 300px;
}
.nft-info-table table {
    width: 100%;
    border-collapse: collapse;
}
.nft-info-table td,
.nft-info-table th {
    text-align: left;
    color: #666;
    width: 30%;
    padding: 0.3rem 0;
    border-bottom: 1px solid #ddd;
}
.nft-info-table pre {
    white-space: pre-wrap;
    max-height: 200px;
    overflow-y: auto;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}
