# ============================================================================
# File: acc/.htaccess
# Description: This file defines configuration rules for the Apache web server, such as redirects, URL rewriting, access control, caching, and security settings.
# Created by: Vina Network
# ============================================================================

RewriteEngine On
RewriteBase /acc/

# ====== URL rules - Redirect ======
# Admin page
RewriteRule ^admin$ manage/admin.php [L,NC]
RewriteCond %{THE_REQUEST} \s/manage/admin\.php [NC]
RewriteRule ^manage/admin\.php$ /acc/admin [R=301,L]

# Connect page
RewriteRule ^connect$ connect-page/connect.php [L,NC]
RewriteCond %{THE_REQUEST} \s/connect-page/connect\.php [NC]
RewriteRule ^connect-page/connect\.php$ /acc/connect [R=301,L]

# Profile page
RewriteRule ^profile$ profile-page/profile.php [L]
RewriteCond %{THE_REQUEST} \s/profile-page/profile\.php [NC]
RewriteRule ^profile-page/profile\.php$ /acc/profile [R=301,L]

# ====== Endpoints ======
RewriteRule ^disconnect$ core/disconnect.php [L,NC]
RewriteRule ^wallet-auth$ core/wallet-auth.php [L,NC]
RewriteRule ^write-logs$ core/write-logs.php [L,NC]
