# ============================================================================
# File: acc/.htaccess
# Description: This file defines configuration rules for the Apache web server, such as redirects, URL rewriting, access control, caching, and security settings.
# Created by: Vina Network
# ============================================================================

RewriteEngine On
RewriteBase /acc/

# Page
RewriteRule ^admin$ manage/admin.php [L,NC]
RewriteRule ^connect$ connect.php [L,NC]
# Profile
RewriteRule ^profile$ profile.php [L]
# Redirect 301 from /profile.php to /profile
RewriteCond %{THE_REQUEST} \s/profile\.php[\s?] [NC]
RewriteRule ^profile\.php$ /profile [R=301,L]

# Endpoints
RewriteRule ^disconnect$ core/disconnect.php [L,NC]
RewriteRule ^wallet-auth$ core/wallet-auth.php [L,NC]
RewriteRule ^get-logs$ core/get-logs.php [L,NC]
