# ============================================================================
# File: acc/.htaccess
# Description: This file defines configuration rules for the Apache web server, such as redirects, URL rewriting, access control, caching, and security settings.
# Created by: Vina Network
# ============================================================================

RewriteEngine On
RewriteBase /acc/

# Connect Phantom wallet page
RewriteRule ^connect-p$ connect-phantom/connect-p.php [L,NC]
RewriteCond %{THE_REQUEST} \s/acc/connect-phantom/connect-p\.php [NC]
RewriteRule ^connect-phantom/connect-p\.php$ connect-p [R=301,L]
# ====== Endpoints ======
RewriteRule ^wallet-auth$ connect-phantom/wallet-auth.php [L,NC]

# Connect Jupiter wallet page
RewriteRule ^connect-j$ connect-jupiter/connect-j.php [L,NC]
RewriteCond %{THE_REQUEST} \s/acc/connect-jupiter/connect-j\.php [NC]
RewriteRule ^connect-jupiter/connect-j\.php$ connect-j [R=301,L]
# ====== Endpoints ======
RewriteRule ^auth-j$ connect-jupiter/auth-j.php [L,NC]

# Profile page
RewriteRule ^profile$ profile-page/profile.php [L]
RewriteCond %{THE_REQUEST} \s/acc/profile-page/profile\.php [NC]
RewriteRule ^profile-page/profile\.php$ profile [R=301,L]
# ====== Endpoints ======
RewriteRule ^disconnect$ profile-page/disconnect.php [L,NC]

# ====== Endpoints write logs ======
RewriteRule ^write-logs$ write-logs.php [L,NC]
