# ============================================================================
# File: mm/.htaccess
# Description: This file defines configuration rules for the Apache web server, such as redirects, URL rewriting, access control, caching, and security settings.
# Created by: Vina Network
# ============================================================================

RewriteEngine On
RewriteBase /mm/

# Create Page
RewriteRule ^create$ create.php [L,NC,QSA]

# Private key page
RewriteRule ^add-private-key$ private-key/add-private-key.php [L,NC,QSA]
RewriteRule ^delete-private-key$ private-key/delete-private-key.php [L,NC,QSA]
RewriteRule ^list-private-key$ private-key/list-private-key.php [L,NC,QSA]

# Error page
RewriteRule ^error$ error.php [L,QSA]
# Redirect 301 from /error.php to /error
RewriteCond %{THE_REQUEST} \s/error\.php[\s?] [NC]
RewriteRule ^error\.php$ /error [R=301,L,QSA]

# Rules for specific endpoints
RewriteRule ^refresh-csrf$ csrf/refresh-csrf.php [L,NC,QSA]
RewriteRule ^clear-csrf$ csrf/clear-csrf.php [L,NC,QSA]
RewriteRule ^get-network$ network/get-network.php [L,NC,QSA]
RewriteRule ^process/([0-9]+)/?$ process/process.php?id=$1 [L,NC,QSA]
RewriteRule ^get-order/([0-9]+)$ process/get-order.php?id=$1 [L,NC,QSA]
RewriteRule ^get-status/([0-9]+)$ process/get-status.php?id=$1 [L,NC,QSA]
RewriteRule ^get-decimals$ process/get-decimals.php [L,NC,QSA]
RewriteRule ^create-tx/([0-9]+)$ process/create-tx.php?id=$1 [L,NC,QSA]
RewriteRule ^swap-jupiter$ process/swap-jupiter.php [L,NC,QSA]
RewriteRule ^get-logs$ core/get-logs.php [L,NC,QSA]
