RewriteEngine On
RewriteBase /mm/

# Rules for specific endpoints
RewriteRule ^refresh-csrf$ csrf/refresh-csrf.php [L,NC]
RewriteRule ^refresh-csrf$ csrf/clear-csrf.php [L,NC]
RewriteRule ^get-network$ network/get-network.php [L,NC]
RewriteRule ^process/([0-9]+)/?$ process/process.php?id=$1 [L,NC]
RewriteRule ^get-tx/([0-9]+)$ process/get-tx.php?id=$1 [L,NC]
RewriteRule ^get-status/([0-9]+)$ process/get-status.php?id=$1 [L,NC]
RewriteRule ^get-decimals$ process/get-decimals.php [L,NC]
RewriteRule ^create-tx/([0-9]+)$ process/create-tx.php?id=$1 [L,NC]
RewriteRule ^swap-jupiter$ process/swap-jupiter.php [L,NC]
