/* Notification Section */
.notification-section {
    min-height: 100vh;
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.notification-content {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
    border-radius: 15px;
    padding: 2rem;
    margin: 2rem;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.notification-content:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.notification-content i {
    font-size: 3rem;
    color: #00d4ff;
    transition: transform 0.5s ease;
}
.notification-content:hover i {transform: rotate(15deg) scale(1.1);}
.notification-content h1 {color: #00d4ff;}
.notification-content p {color: #fff;}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .notification-section {margin-top: 64px;}
    .notification-content i {font-size: 2rem;}
}
