# ============================================================================
# File: manage/.htaccess
# Description: This file defines configuration rules for the Apache web server, such as redirects, URL rewriting, access control, caching, and security settings.
# Created by: Vina Network
# ============================================================================

RewriteEngine On
RewriteBase /manage/

# Page
RewriteRule ^list-accounts$ list-accounts/list-acc.php [L,NC]
RewriteCond %{THE_REQUEST} \s/manage/list-accounts/list-acc\.php [NC]
RewriteRule ^list-accounts/list-acc\.php$ list-accounts [R=301,L]

# ====== Endpoints ======
RewriteRule ^write-logs$ write-logs.php [L,NC]
