# ============================================================================
# File: manage/.htaccess
# Description: This file defines configuration rules for the Apache web server, such as redirects, URL rewriting, access control, caching, and security settings.
# Created by: Vina Network
# ============================================================================

RewriteEngine On
RewriteBase /manage/

# Page
RewriteRule ^list-accounts$ list-acc/list-acc.php [L,NC]

# Endpoints
RewriteRule ^write-logs$ core/write-logs.php [L,NC]
